# In GNU Radio 3.9+, pybind11 compares hash values of headers and source
# files against knowns values.  Conversion of values to CRLF on checkout
# break those checks so keep LF values when files are subject to said checks
#
*.h    text eol=lf
*.c    text eol=lf
*.cc   text eol=lf

# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary